* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: white;
    height: 90%;
}

body {
    font-family: Arial, sans-serif;
    border: 4px solid black;
    padding: 2px;
    max-width: 1000px;
    min-height: 90vh;
    margin: 2px auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

header, nav, footer {
    background-color: #fca9a2;
    padding: 50px;
    text-align: center;
    margin-bottom: 2px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.6),
                0 5px 15px rgba(0, 0, 0, 0.3);
}

nav {
    background-color: #97e1f9;
}

footer {
    background-color: #ffac83;
}

.main-container {
    display: flex;
    flex-grow: 1;
    gap: 1px;
    margin-bottom: 2px;
}

section {
    flex: 3;
    background-color: #def6ba;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.6),
                0 5px 15px rgba(0, 0, 0, 0.3);
}

section h2 {
    background-color: #fca9a2;
    padding: 2px;
    margin-bottom: 10px;
    width: 99%;
    margin: auto;
    height: 40px;
    border-radius: 5px;
    box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.6),
                0 5px 15px rgba(0, 0, 0, 0.3);
}

article {
    background-color: #b698c6;
    padding: 2px;
    flex-grow: 1;
    height: 100px;
    width: 99%;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    padding-top: 120px;
    border-radius: 5px;
    box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.6),
                0 5px 15px rgba(0, 0, 0, 0.3);
}

aside {
    flex: 1;
    background-color: #d7d5d5;
    padding: 2px;
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.6),
                0 5px 15px rgba(0, 0, 0, 0.3);
}